<div class="users-back">
  <div class="users-ex-message">
    <p>ユーザーを編集<p>
  </div>

  <div class="users-form">

    <% @user.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>

<%= form_tag("/users/#{@user.id}/update",{multipart: true}) do %>

      <p>ユーザーネーム</p>
      <input name="name" type="text" value="<%= @user.name %>">

      <p>背景画像</p>
      <input name="bimage" type="file">

      <p>アイコン画像</p>
      <input name="image" type="file">

      <p>E-mail</p>
      <input name="email" type="email" value="<%= @user.email %>">

      <input type="submit" value="保存">

  </div>
<% end %>
</div>
