<div class="users-back">
  <div class="form-heading">
    <p>ユーザー編集</p>
  </div>

  <div class="users-form">

    <% @user.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>

<%= form_tag("/users/#{@user.id}/update",{multipart: true}) do %>

      <p>ユーザーネーム</p>
      <input name="name" type="text" value="<%= @user.name %>">

      <p>E-mail</p>
      <input name="email" type="email" value="<%= @user.email %>">

      <p>背景画像</p>
      <div class="edit-image">
        <input name="bimage" type="file" accept="image/png, image/jpeg">
      </div>

      <p>アイコン画像</p>
      <div class="edit-image">
        <input name="image" type="file"  accept="image/png, image/jpeg">
      </div>

      <div class="user-edit-btn">
        <input type="submit" value="保存">
      </div>

  </div>
<% end %>
</div>
