<div class="users-back">

    <% @follow_users.each do |follow_user| %>
    <div class="users-box">
        <div class="user_image">
          <%= link_to("/users/#{follow_user.id}") do %>
            <img src="<%= "#{follow_user.image_name}"%>" alt="defa">
            <%= follow_user.name %>
          <% end %>
        </div>


    </div>
    <% end %>

</div>
