<div class="users-back">

    <% @follow_users.each do |follow_user| %>
    <div class="users-box">
        <div class="user_image">
          <%= link_to("/users/#{follow_user.id}") do %>
            <img src="<%= "/user_images/#{follow_user.image_name}"%>" alt="defa">
          <% end %>
        </div>

        <%= follow_user.name %>

    </div>
    <% end %>

</div>
