<div class="main-back">
  <div class="top-header">
    <div class="app-message">
      <h1>誰かと一緒なら、強くなれる。</h1>
    </div>
  </div>

  <div class="explain-sharetasker">

  </div>

  <div class="tutorial1">

  </div>
  
</div>
