<div id="masthead" class="text-center">
  <div class="container-fluid h-100 d-flex flex-column align-items-center justify-content-center">
      <h1 class="font-weight-bold">
        Share&nbsp;Tasker
      </h1>
      <h2>
        誰かと一緒なら、強くなれる。
      </h2>
  </div>
</div>

<section id="intro" class="page-section">
  <div class="container">
    <h2 class="text-center mb-5">ShareTaskerへようこそ</h2>
    <div class="row">
      <div class="col-lg-6 mb-3">
        <%= image_tag("sharetasker_intro.jpg", :class => 'img-fluid') %>
      </div>
      <div class="col-lg-6 d-flex align-items-center ">
        <h4 class="text-center">ShareTaskerは同じ目標をもったどこかの誰かとともに努力を共有するアプリです</h4>
      </div>
    </div>
  </div>
</section>