// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#masthead{
  background-color: white;
  background-image: url("./masthead.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

@media screen and ( max-width:992px) {
  #masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
  }

}

@media screen and (min-width: 992px) {
  #masthead {
    height: 100vh;
  }
}

#masthead-divider{
  border-width: .2rem;
  border-color: black;
}

#intro{
  background-color: #f4623a;
}

.page-section{
  padding: 8rem 0;
}