#profile{
  background-color: white;

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}