.users-back {
 padding-top: 60px;
 width: 100%;
 background-color: #FFFFEE;
}

.users-back a {
  color: black;
}

.user-search {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.user-search-form {
  width: 40%;
  height: 120px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: solid 1px silver;
  border-radius: 5px;
  text-align: center;
}

.user-search-form input {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.image-back {
  // background-color: orange;
  width: 100%;
  height:100px;
}

.user_image {
  background-color: silver;
  width: 100px;
  height: 100px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.user-email {
  margin: 0;
  text-align: right;
  padding-right: 100px;
  font-size: 20px;
}

.user_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user_image p {
  font-size: 6px;
}

.profile-edit-btn {
  background-color: orange;
  width: 300px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}


.profile-edit-btn a {
  color: white;
}

.users-box {
  padding: 20px 30px;
  // background-color: white;
  overflow: hidden;
  box-shadow: 0 0px 0px #c1ced7;
  text-align: center;
  font-size: 30px;
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}

.users-indi-box {
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0 0px 0px #c1ced7;
  text-align: center;
  font-size: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
}

.users-form {
  width: 60%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  border: solid 1px silver;
  border-radius: 5px;
  text-align: left;
  padding: 80px;
  overflow: hidden;
}

.users-form p {
  font-size: 30px;
  margin: 0;

}


.users-form input {
  margin: 30px;
  width: 500px;
  height: 30px;
  border: 1px solid silver;
  padding: 10px;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 5px;

}

.edit-image input {
  margin: 30px;
  width: 500px;
  height: 30px;
  padding: 10px;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  border: none;
}

.user-edit-btn {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.users-form input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  font-weight: 300;
  width: 120px;
  height: 50px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
}

.users-tabs-btn {
  // background-color: silver;
  padding: 0;
  width: 100%;
}

.users-tabs-btn ul {
  padding: 0;
  width: 100%;
}

.users-tabs-btn li {
  width: 500px;
  background-color: #EEEEEE;
  display: table-cell;
  display: inline-block;
  font-size: 20px;
}

.follow-switch-btn {
  text-align: center;
  width: 200px;
  // background-color: blue;
  margin-left: auto;
  margin-right: auto;
}


.follow {
  color: silver;
  width: 200px;
  height:25px;
  text-decoration: none;
  background: #CC0000;/*ボタン色*/
  color: white;
  border-bottom: solid 4px #627295;
  border-radius: 3px;

}

.follow:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.follow p {
  font-size: 15px;
  color: orange;
}

.unfollow {
  color: orange;
  width: 200px;
  height:25px;
  text-decoration: none;
  background: #CC0000;/*ボタン色*/
  color: white;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.unfollow p {
  font-size: 15px;

}

.unfollow:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.back-image {
  // background-color: lime;
  width: 100%;
  height: 600px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow:  0 0 10px white;


}

.back-image img {
  width: 100%;
  height: 100%;
}

.shift-to-search {
  width: 200px;
  height: 75px;
  background-color: silver;
  border: solid 1px gray;
  left: 500px;
  text-align: center;
  vertical-align: middle;

}

// ---------------------------users/login/signin/------------------------
.login-form {
  width: 40%;
  background-color: white;
  border: solid 1px silver;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px;

}

.login-form input {
}

.signup-btn {
  margin :10px;
  text-align: center;
}

.login-tabs {
  border: solid 1px aqua;
}

.actions {
  margin: 10px;
}
