.user-form{
  height: calc(100vh - 56px);
  margin-top: 60px;
}

.user-form form {
  width: 100%;
}


// show user's task
.task{
  margin-top: 80px;
  margin-bottom: 80px;
}

.task form{
  width: 100%;
}

hr.show-divider{
  border-width: .2rem;
}

#show-challenger ul{
  white-space: nowrap;
  max-height: 12em;
  overflow:auto;
}

#show-challenger p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}