<p>こんにちは！ <%= @resource.email %>!</p>

<p>Sharetaskerパスワード変更案内です！以下のリンクをクリックしてパスワード変更手続きを行ってください！</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしお心当たりがないようでしたら、このメールは無視してください。</p>
<p>※パスワードはリンクをクリックして新しいパスワードを設定するまで変更されません。</p>
